{%
    set roleNormalForm = {
        'ROLE_ADMIN' : 'Adminisztrátor',
        'ROLE_CONTENT_EDITOR' : 'Tartalomszerkesztő',
        'ROLE_PLAIN_USER' : 'Bejelentkezett felhasználó'
    }
%}
{% set rolesString = "" %}
{% for role in app.user.role|split(" ") %}
    {% set rolesString = rolesString ~ roleNormalForm[role] ~ ", " %}
{% endfor %}

<div>
    <h1>Adminisztrációs oldal</h1>
    Felhasználónév: {{ app.user.username }}<br />
    Csoportok: [ {{ rolesString|trim(", ") }} ]<br />
    Utoljára bejelentkezett: {{ app.user.lastLoggedInDate|date('Y-m-d H:i:s') }}
</div>