{% extends '::base.html.twig' %}

{% block body %}
    <a href="{{ path('homepage') }}">Vissza</a><br />
    Ezt az aloldalt csak a „tartalomszerkesztők” szerepkörrel rendelkező felhasználók láthatják
{% endblock %}


{% block javascripts %}
{% endblock %}